.place__title {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0px 0px 48px 0px;
    padding: 0px;
    width: min-content;
}

@media screen and (max-width: 990px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 750px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0px 16px 32px 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        width: min-content;
    }
}