.places {
  padding: 0;
  margin: 92px 0px;
}

@media screen and (max-width: 768px) {
  .places {
      margin: 88px 0px;
  }
}

@media screen and (max-width: 750px) {
  .places {
      margin: 64px 0px 66px;
  }
}