.lead {
  margin: 56px 148px 0px;
}

@media screen and (max-width: 1024px) {
  .lead {
      margin: 48px 48px 0px;
  }
  
}
@media screen and (max-width: 785px) {
  .lead {
      margin: 48px 0px 0px;
  }
}