.page__info{
  -webkit-font-smoothing: antialiased;
  background: #2A2C2F;
  max-width: 1280px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  color: #ffffff;
  font-family: 'Inter', Arial ,sans-serif;
  padding-bottom: 50px;
 }
  
@media screen and (max-width: 768px) {
  .page__info{
    padding-top: 16px;
  }
}