.place__paragraphs {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 990px) {
  .place__paragraphs {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  .place__paragraphs {
    margin: 32px 16px 0px 16px;
  }
}