.intro__text{
  margin: 0;
  margin-bottom: 33px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 768px){
  .intro__text{
    margin-bottom: 34px;
  }
}