.intro {
    margin: 0 442px 0 148px;
    max-width: 690px;
}

@media screen and (max-width: 1250px) {
    .intro {
        margin: 0 286px 0 48px;
    }
}

@media screen and (max-width: 1000px) {
    .intro {
        margin: 0px 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin: 0px 16px;
    }
}