.cover__title {
    margin: 0px 0px 32px;
    max-width: 560px;
    width: min-content;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    padding: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 500px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        margin: 0;
        margin-bottom: 16px;
        max-width: 288px;
    }
}