.place {
  margin: 0px 148px 80px 148px;
  padding: 0;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-column-gap: 40px;
}

.place:last-child {
  margin-bottom: 92px;
}


@media screen and (max-width: 1215px) {
  .place {
    margin: 0px 48px 80px;
    grid-column-gap: 32px;
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 990px) {
  .place {
    grid-template-columns: 340px 1fr;
    margin: 0px 24px 73px;
    grid-column-gap: 28px;
  }
  .place:last-child {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 750px) {
  .place {
    grid-template-columns: 1fr;
    margin: 0px 0px 50px;
  }
  .place:last-child {
    margin-bottom: 66px;
  }
}