.place__url-heading {
    -webkit-font-smoothing: antialiased;
    margin: 0px 0px 12px 0px;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #aaaaaa;
    text-transform: uppercase;
}