.place__website {
 margin: 0;
 padding: 0;
 padding-bottom: 48px;
 align-self: flex-end;
}

@media screen and (max-width: 750px) {
  .place__website {
    margin: 0px 16px 0px 16px;
    padding-bottom: 32px;
  }
}
